body {
  text-align: center;
  background-color: #D2D7DF;
  font-family: 'Mada', sans-serif;
}

a {
  color: #353535;
}

a:hover {
  color: #353535;
  font-weight: bold;
}

img {
  width: 300px;
  border-style: none;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #353535;
}

h2 {
  font-family: 'Solway', serif;
  color: #353535;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

li {
  color: #000;
  padding: 15px;
  margin: 5px;
  border: 3px solid black;
}

ul a {
  color: #000000;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.header {
  background-color: #ffffff;
  padding: 10px;
}

.body {
  background-color: #BDBBB0;
  padding: 50px;
}

.navigation {
  background-color: #8A897C;
  padding: 10px;
}

.footer {
  background-color: #ffffff;
  padding: 10px;
  font-size: 12px;
}

#joke {
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  ul {
    flex-direction: row;
  }
}
